@import "@/assets/_mixins";
@import "@/assets/_templates";

@include local-fade(local-fade, .2s);

.navbar {
    position: absolute;
    top: vh(38px);
    left: 0;
    z-index: 2;

    nav {
        .nav-item {
            @include font(Akrobat, 500, normal, vh(14.35px));
            @extend %content-center;
            height: vh(30px);
            border-bottom: vh(0.358696px) solid rgba(255, 255, 255, 0.5);
            cursor: pointer;
            letter-spacing: 0.175em;
            min-width: vh(122px);
            padding: 0 vh(12px);
            color: white;

            &.active {
                background-image: linear-gradient(360deg, rgba(56, 110, 250, 0.99) -100%, rgba(58, 58, 58, 0) 100%);
            }
        }
    }
}

.additional-nav {
    position: absolute;
    top: vh(38px);
    right: vh(120px);
    z-index: 3;

    .forum {
        @include font(Akrobat, 500, normal, vh(14.33px));
        @extend %content-center;
        width: vh(125.88px);
        height: vh(30px);
        border: vh(1px) solid rgba(255, 255, 255, 0.51);
        border-radius: vh(3.84615px);
        color: white;
        cursor: pointer;
        letter-spacing: 0.1em;
    }

    .donate-button {
        @extend %content-center;
        width: vh(125.88px);
        height: vh(30px);
        background: linear-gradient(276.68deg, rgba(50, 222, 245, 0.86) 0%, rgba(43, 163, 180, 0.45) 100%);
        box-shadow: 0 0 vh(26px) rgba(50, 222, 245, 0.27);
        border-radius: vh(3.84615px);
        margin-left: vh(42.12px);
        cursor: pointer;

        span {
            @include font(Akrobat, 500, normal, vh(14.3px));
            color: white;
            letter-spacing: 0.1em;
        }

        img {
            width: vh(24.44px);
            height: vh(10px);
            transform: translateY(vh(1px));
            margin-left: vh(4px);
        }
    }
}


// mobile

.navbar-mobile {
    @extend %absolute;
    background-color: rgba(83, 180, 224, 0.5);
    z-index: 12;
    backdrop-filter: blur(vwm(11px));


    .forum, .donate {
        @extend %content-center;
        width: vwm(384px);
        height: vwm(42.6px);
        border-radius: vwm(5.47037px);
        letter-spacing: 0.1em;
    }

    .forum {
        @include font(Akrobat, 500, normal, vwm(20px));
        border: vwm(1.4223px) solid rgba(white, 0.51);
        color: white;
        cursor: pointer;
        margin: vwm(10px) 0;
    }

    .donate {
        background: linear-gradient(276.68deg, rgba(50, 222, 245, 0.86) 0%, rgba(43, 163, 180, 0.45) 100%);
        box-shadow: 0 0 vwm(37px) rgba(50, 222, 245, 0.27);

        &__title {
            @include font(Akrobat, 500, normal, vwm(20px));
            color: white;
        }

        &__picture {
            height: vwm(14.2px);
            margin-left: vwm(5.7px);
        }
    }

}

.navbar-mobile-icon {
    display: none;
    z-index: 15;
}

.navbar-items {
    @extend %content-center;
    margin-top: vwm(119px);

    .nav-item-mob {
        @include font(Akrobat, 500, normal, vwm(20.4px));
        @extend %content-center;
        width: vwm(384px);
        height: vwm(41px);
        color: white;
        letter-spacing: 0.175em;
        margin-top: vwm(29px);

        &:first-child {
            margin-top: 0;
        }

        &.active {
            background-color: rgba(white, 0.08);
        }
    }
}

@import "@/assets/media/_navbar";