<div>
    <div class="navbar row-block justify-center full-width">
        <nav class="row-block">
            <div
            @click="$emit('open-page', i)"
            :class="{ 'active': active === i }"
            class="nav-item"
            v-for="(item, i) of pages">{{ item }}</div>
        </nav>
    </div>

    <div class="additional-nav row-block">
        <div class="forum">Foro</div>
        <router-link
        :to="{ 'name': 'Donate' }"
        tag="div"
        class="donate-button row-block align-center">
            <span>donar</span>
            <img src="/img/global/vc.svg" alt="">
        </router-link>
    </div>

    <div @click="switchNav" class="navbar-mobile-icon">
        <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="15" :width="navMobile ? 15 : 23" height="3" rx="1.5" fill="white" :transform="`translate(${ navMobile ? 8 : 0 })`"/>
            <rect y="7.5" width="23.4873" height="2.5" rx="1.25" fill="white"/>
            <rect :width="23.4873" height="2.5" rx="1.25" fill="white"/>
        </svg>
    </div>

    <transition name="local-fade" appear>
        <div v-if="navMobile && isMobile" class="navbar-mobile full-width full-height">
            <div class="navbar-items column-block full-width">

                <div
                @click="actionMobile(i)"
                class="nav-item-mob justify-center"
                v-for="(item, i) of pages"
                :class="{ 'active': i === active }">{{ item }}</div>

                <div class="forum">FORO</div>
                <router-link :to="{ name: 'Donate' }" class="donate row-block">
                    <span class="donate__title">donar</span>
                   <img class="donate__picture" src="/img/global/vc.svg" alt="">
                </router-link>
            </div>

            <div class="mob-add-nav align-center full-width column-block">
               
            </div>
        </div>
    </transition>
</div>