@media screen and (max-device-width: 415px) {
    .donate {
        background-size: cover;
        min-height: vwm(896px);

        .navbar, .additional-nav, .swiper-pagination, .scroll, .gradient {
            display: none;
        }

        .logotype {
            top: vwm(30px);
            left: vwm(18px);
            width: vwm(81px);
            height: vwm(47px);

            &__picture {
                width: inherit;
                height: inherit;
            }
        }

        &__picture-person, .vc-picture, .hint {
            display: none;
        }

        .form-container {
            align-items: flex-start;
            padding-top: vwm(106px);
        }

        .form {
            &__picture {
                width: vwm(41.5px);
                height: vwm(17px);
            }

            &__title {
                font-size: vwm(48px);
                font-weight: bold;
                letter-spacing: 0.175em;
                width: vwm(235px);
                margin-top: vwm(8px);
            }

            .input-block {
                margin-top: vwm(15px);

                &__label, .sum-title__label {
                    font-size: vwm(18.3px);
                }

                .input-container {
                    &__input {
                        width: vwm(377px);
                        height: vwm(44px);
                        font-size: vwm(18px);
                        padding: vwm(11px) vwm(35px) vwm(11px) vwm(11px);
                    }

                    &__picture {
                        right: vwm(10px);
                        width: vwm(10px);
                        height: vwm(10px);
                    }
                }

                .coins {
                    &__text {
                        font-size: vwm(18px);
                    }

                    &__picture {
                        margin-left: vwm(9px);
                        height: vwm(17px);
                        width: vwm(41.5px);
                    }
                }
            }

            .commit {
                width: vwm(377px);
                min-height: vwm(42px);
                font-size: vwm(18px);
                margin-top: vwm(27px);
            }

            .additional-info {
                margin-top: vwm(19px);

                &__title {
                    font-size: vwm(18px);
                    margin-top: 0;
                }

                &__value {
                    font-size: vwm(14px);
                    margin-top: vwm(5px);
                }
            }
        }

        .info-button-mob {
            display: flex;
            position: absolute;
            width: vwm(15px);
            height: vwm(15px);
            bottom: vwm(209px);
            right: vwm(27px);
        }

        .hint-mobile {
            display: flex;
            position: absolute;
            bottom: vwm(21px);

            .hint-cover {
                width: vwm(377px);
                background-image: linear-gradient(to right, rgba(#080908, 0.9), rgba(#555555, 0.5));
                backdrop-filter: blur(vwm(16px));
                padding: vwm(6px) vwm(9.7px) vwm(7px) vwm(10px);
                line-height: vwm(16px);

                &__text {

                    &-main {
                        @include font(Akrobat, normal, normal, vwm(13px));
                        color: white;
                        text-transform: none;
                    }

                    &-additional {
                        @include font(Akrobat, 500, normal, vwm(13px));
                        color: rgba(white, 0.41);
                        margin-top: vwm(26px);
                    }
                }
            }
        }
    }
}