@media screen and (max-device-width: 415px) {
    footer {
        height: vwm(704px);
        mask: {
            image: url('/img/global/footer-mask.png');
            size: 100vw 170.04831vw;
        }

        .social, .main-content {
            display: none;
        }

        .social-mobile, .main-content-mob {
            display: flex;
        }

        .footer-data {
            height: auto; 
            padding: 0;
            bottom: 0;

            &__picture-logo {
                margin-top: vwm(40px);
            }

            .agreement {
                margin-bottom: vwm(8px);
                margin-top: vwm(22px);
                transform: unset;
            }

            .wallets {
                &__picture {
                    margin-right: vwm(12px);

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .links {
                margin-top: vwm(21px);
                max-height: none;

                .link {
                    margin-right: 0 !important;
                    margin-top: vwm(31px);

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

            .main-content-mob {
                display: flex;
            }
        }
    }
}