@media
screen
and (min-device-width: 360px)
and (max-device-width: 412px)
and (max-device-height: 800px),
(device-height: 736px),
(device-height: 823px) {
    .content-block {
        top: vwm(140px) !important;
    }

    .mode__picture-person {
        bottom: vwm(-100px) !important;
    }
}

@media screen and (max-device-width: 415px) {
    .Home-page {        

        .swiper-pagination, .scroll, .gradient {
            display: none;
        }

        .main-page {
            background-size: cover;

            .server-title {
                z-index: 2;

                &__title {
                    font-size: vwm(33.22px);
                }

                &__text {
                    font-size: vwm(16.61px);
                    margin-top: vwm(3.31px);
                }
            }

            .movable-container {
                z-index: 2;

                .hints {
                    z-index: 3;

                    .hint-container {

                        .hint {
                            width: vwm(183.5px);
                            height: vwm(54.6px);
                        }

                        &:first-child {
                            top: auto;
                            bottom: vwm(207px);
                            left: vwm(18px);
                        }

                        &:nth-child(2) {
                            top: auto;
                            left: auto;
                            bottom: vwm(29px);
                            right: vwm(99px);
                        }

                        &:last-child {
                            top: auto;
                            left: auto;
                            bottom: vwm(132px);
                            right: vwm(19.3px);
                        }

                        .hint {
                            padding: vwm(8px) vwm(6px) vwm(8px) vwm(8px);

                            &__picture {
                                width: vwm(12px);
                                height: vwm(12px);
                            }

                            &__text {
                                font-size: vwm(10px);
                                margin-top: vwm(2px);
                            }
                        }
                    }
                }

                .logotype {
                    top: vwm(30px);
                    left: vwm(18px);
                    width: vwm(81px);
                    height: vwm(47px);
        
                    &__picture {
                        width: inherit;
                        height: inherit;
                    }
                }

                .persons {
                    .person-container {
                        &:first-child {
                            height: vwm(459px);

                            .person {
                                transform: translateX(vwm(-100px)) !important;
                                width: vwm(350px);
                            }
                        }

                        &:nth-child(2) {
                            height: vwm(524.22px);
                            z-index: 2;
                            
                            .person {
                                width: vwm(480px);
                                transform: translateX(vwm(-30px));
                            }
                        }

                        &:last-child {
                            height: vwm(466.22px);
                            
                            .person {
                                width: vwm(450px);
                                transform: translateX(vwm(140px));
                            }
                        }
                    }
                }
            }

            .gradient-mobile {
                position: absolute;
                display: flex;
                bottom: vwm(-90px);
                width: vwm(425.46px);
                height: vwm(143.46px);
                z-index: 3;
            }
        }

        .server-page {
            .page-header {
                &__title {
                    font-size: vwm(34px);
                    letter-spacing: 0.37em;
                }

                &__subtitle {
                    font-size: vwm(34px);
                    margin-top: 0;
                }

                .line {
                    margin-top: vwm(4.36px);
                    width: vwm(310.53px);
                }
            }

            .watch-trailer-mobile {
                display: flex;

            }

            .admins, .mode, .voice {
                background-size: cover;

                .content-block {
                    top: vwm(259px);
                    left: vwm(15px);
                    right: auto;

                    .play-button {
                        display: none;
                    }
                }
            }

            .mode {
                &__picture {
                    &-plane {
                        max-width: vwm(1146px);
                        max-height: vwm(672px);
                        bottom: vwm(-100px);
                        left: vwm(-200px);
                        top: auto;
                    }
                    
                    &-person {
                        width: vwm(475.29px);
                        height: vwm(459px);
                        bottom: vwm(-50px);
                        left: vwm(-20px);
                    }
                }

                .content-block {
                    width: vwm(308px);

                    &__title {
                        font-size: vwm(51.47px);
                    }

                    &__text {
                        font-size: vwm(14.48px);
                        margin-top: vwm(6.43px);
                    }

                    &__picture {
                        width: vwm(19.3px);
                        height: vwm(19.3px);
                        margin-bottom: vwm(-0.8px);
                    }
                }

                .gradient {
                    left: vwm(-178px);
                    bottom: vwm(-219px);
                    height: vwm(296.96px);
                    width: vwm(880.69px);
                }
            }

            .admins {
                &__picture {
                    &-money {
                        left: 0;
                        width: vwm(500px);
                        height: vwm(750px);
                        opacity: 0.2;
                    }

                    &-person {
                        width: vwm(635px);
                        height: vwm(400px);
                        bottom: vwm(-70px);
                        left: vwm(-90px);
                    }
                }

                .content-block {
                    width: vwm(377px);

                    &__title {
                        font-size: vwm(51.47px);
                    }

                    &__text {
                        font-size: vwm(15px);
                        margin-top: vwm(6.43px);
                    }

                    &__picture {
                        width: vwm(19.3px);
                        height: vwm(19.3px);
                        margin-bottom: vwm(-0.8px);
                    }
                }

                .gradient {
                    width: vwm(880.69px);
                    height: vwm(296.96px);
                    bottom: vwm(-120px);
                    left: vwm(-210px);
                }
            }

            .voice {
                &__picture {
                    &-person {
                        width: vwm(537px);
                        height: vwm(466.5px);
                        left: vwm(-93px);
                        bottom: vwm(-45.5px);
                    }

                    &-microphone {
                        &.big, &.small {
                            top: auto;
                            width: vwm(525px);
                            height: vwm(394px);

                            img {
                                width: inherit;
                                height: inherit;
                            }
                        }

                        &.big {
                            left: vwm(-242px);
                            bottom: vwm(43.7px);

                            img {
                                transform: rotate(10deg);
                            }
                        }

                        &.small {
                            left: auto;
                            right: vwm(-190px);
                            bottom: vwm(-71.7px);

                            img {
                                transform: rotate(7deg);
                            }
                        }
                    }
                }

                .content-block {
                    width: vwm(376px);

                    &__title {
                        font-size: vwm(53px);
                    }

                    &__text {
                        font-size: vwm(15px);
                        margin-top: vwm(6.43px);
                    }

                    &__picture {
                        width: vwm(19.3px);
                        height: vwm(19.3px);
                        margin-bottom: vwm(-0.8px);
                    }
                }
            }
        }

        .how-play-page {
            background-size: cover;

            .gta-picture {
                display: none;
            }

            .watch-video {
                display: flex;
            }

            .play-info {
                top: vwm(20px);
                left: vwm(18px);

                &__title {
                    font-size: vwm(49.78px);
                }

                &__description {
                    font-size: vwm(11.72px);
                    margin-top: vwm(5.86px);
                    width: vwm(348.35px);
                }

                .play-video {
                    display: none;
                }
            }

            .page-content {
                .cards {
                    display: none;
                }
    
                .cards-mobile {
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: vwm(120px);

                    .card-cover {
                        margin-right: 0;
                    }

                    .card-container {
                        display: flex;
                        align-items: center;
                        
                        .card {
                            width: vh(246.41px);
                            height: vh(512px);
                            border-radius: vwm(10px);
                        }
                    }

                    &:deep(.swiper-wrapper), &:deep(.swiper-slide) {
                        width: 100vw !important;
                    }
                }

            }


        }
    }
}