@media screen and (max-device-width: 415px) {
    .navbar-mobile-icon, .gta-mobile-picture {
        display: block;
    }

    .gta-mobile-picture {
        z-index: 1;
        top: vwm(50px);
        right: vwm(-145px);
        position: absolute;
        width: vwm(552.48px);
        height: vwm(552.48px);
    }

    .navbar, .additional-nav {
        display: none;
    }

    .navbar-mobile-icon {
        position: absolute;
        right: vwm(18.5px);
        top: vwm(45px);
    }
}