<div class="Home-page">
    <swiper
    direction="vertical"
    :mousewheel="true"
    :setWrapperSize="true"
    :followFinger="false"
    :preloadImages="true"
    :speed="500"
    :resistance="false"
    :pagination="{ el: '.swiper-pagination', clickable: true }"
    class="swiper"
    @swiper="mainSwiperInit"
    @slideChange="mainSwiperChange">
        <swiper-slide class="main-page swiper-page">
            <div class="main-page full-width full-height justify-center">

                <img class="gta-mobile-picture" src="/img/Home/gta.png" alt="">

                <navbar
                v-model:nav-mobile="navMobile"
                :active="swiperPage"
                @openPage="slideTo" />
    
                <kinesis-container
                class="movable-container full-height full-width row-block">
                    <div class="logotype">
                        <kinesis-element :strength="isMovable(10)">
                            <img src="/img/global/logo.svg" alt="" class="logotype__picture">
                        </kinesis-element>
                    </div>

                    <div class="persons">
                        <kinesis-element
                        class="person-container"
                        :strength="isMovable(-10)"
                        axis="x">
                            <img
                            class="person"
                            src=" /img/Home/persons/1.png" alt="">
                        </kinesis-element>
        
                        <kinesis-element
                        class="person-container"
                        :strength="isMovable(30)"
                        axis="x">
                            <img
                            class="person"
                            src=" /img/Home/persons/2.png" alt="">
                        </kinesis-element>
        
                        <kinesis-element
                        class="person-container"
                        :strength="isMovable(50)"
                        axis="x">
                            <img
                            class="person"
                            src=" /img/Home/persons/3.png" alt="">
                        </kinesis-element>
                    </div>

                    <div class="hints full-width full-height">
                        <div class="hint-container">
                            <kinesis-element :strength="isMovable(10)">
                                <div class="hint column-block">
                                    <img class="hint__picture" src="/img/Home/star.svg" alt="">
                                    <span class="hint__text">Elige el camino de tu personaje, ¡en quién te conviertes depende solo de ti!</span>
                                </div>
                            </kinesis-element>
                        </div>

                        <div class="hint-container">
                            <kinesis-element :strength="isMovable(-10)">
                                <div class="hint column-block">
                                    <img class="hint__picture" src="/img/Home/star.svg" alt="">
                                    <span class="hint__text">Elige el camino de tu personaje, ¡en quién te conviertes depende solo de ti!</span>
                                </div>
                            </kinesis-element>
                        </div>

                        <div class="hint-container">
                            <kinesis-element :strength="isMovable(15)">
                                <div class="hint column-block">
                                    <img class="hint__picture" src="/img/Home/star.svg" alt="">
                                    <span class="hint__text">Elige el camino de tu personaje, ¡en quién te conviertes depende solo de ti!</span>
                                </div>
                            </kinesis-element>
                        </div>
                    </div>
                </kinesis-container>

                <div class="gradient"></div>
                
                <div class="server-title column-block align-center">
                    <span class="server-title__title">Empieza a jugar ahora</span>
                    <span class="server-title__text">en VESPUCCI ROLEPLAY</span>  
                </div>

                <div class="scroll column-block align-center">
                    <span class="scroll__title">desplazarse más lejos</span>
                    <img class="scroll__picture" src="/img/Home/scroll.svg" alt="">
                </div>

            </div>
        </swiper-slide>
        
        <swiper-slide class="server-page swiper-page justify-center">
            <div class="page-header align-center column-block">
                <div class="page-header__title">Información</div>
                <div class="page-header__subtitle">sobre el proyecto</div>

                <div class="line">
                    <div :class="`slide-${ serverPage }`" class="line__progress"></div>
                </div>
            </div>

            <swiper
            direction="horizontal"
            @swiper="serverSwiperInit"
            :followFinger="false"
            :spaceBetween="0"
            :speed="500"
            :autoplay="{ delay: 7000, disableOnInteraction: false }"
            @slideChange="serverSwiperChange"
            class="server-info">
                <swiper-slide class="mode info-slide">
                    <kinesis-container class="movable-container full-width full-height">
                        <div class="mode__picture-plane">
                            <kinesis-element
                            :strength="isMovable(-30)"
                            tag="img"
                            src="/img/Home/info/mode/plane.png"
                            alt="" />
                        </div>
                        
                        <div class="mode__picture-person">
                            <kinesis-element
                            :strength="15"
                            axis="x"
                            tag="img"
                            src="/img/Home/info/mode/person.png"
                            alt="" />
                        </div>
                    </kinesis-container>

                    <div class="gradient"></div>

                    <div class="content-block column-block">
                        <div class="row-block">
                            <img class="content-block__picture" src="/img/Home/info/mode/chip.svg" alt="">

                            <div class="play-button row-block align-center">
                                <img class="play-button__picture" src="/img/Home/info/mode/play.svg" alt="">
                                <span class="play-button__title">ver el trailer</span>
                            </div>
                        </div>

                        <span class="content-block__title">Mod único</span>

                        <span class="content-block__text">
                            Nuestro proyecto de GTA 5 RP utiliza el mejor mod de juego de la historia. Fácil de aprender, 
                            interesante de desarrollar y, lo más importante, completamente único. Olvídese de los comandos 
                            de chat de SAMP, porque le brindamos la oportunidad de utilizar interfaces gráficas agradables y 
                            convenientes, lo que le permite jugar RP a un nivel completamente diferente al de cualquier otro 
                            entorno de juego de roles.
                        </span>
                    </div>

                    <div class="watch-trailer-mobile justify-center full-width">
                        <div class="button-container align-center row-block">
                            <img class="button-container__picture" src="/img/Home/info/mode/play.svg" alt="">
                            <span class="button-container__title">ver el trailer</span>
                        </div>
                    </div>
                </swiper-slide>

                <swiper-slide class="admins info-slide">
                    <kinesis-container class="movable-container full-width full-height">
                        <div class="admins__picture-money">
                            <kinesis-element
                            :strength="isMovable(-20)"
                            axis="x"
                            tag="img"
                            src="/img/Home/info/admins/money.png"
                            alt="" />
                        </div>
                        
                        <div class="admins__picture-person">
                            <kinesis-element
                            :strength="isMovable(15)"
                            axis="x"
                            tag="img"
                            src="/img/Home/info/admins/person.png"
                            alt="" />
                        </div>
                    </kinesis-container>

                    <div class="gradient"></div>

                    <div class="content-block column-block">
                        <div class="row-block">
                            <img class="content-block__picture" src="/img/Home/info/admins/people.svg" alt="">

                            <div class="play-button row-block align-center">
                                <img class="play-button__picture" src="/img/Home/info/mode/play.svg" alt="">
                                <span class="play-button__title">ver el trailer</span>
                            </div>
                        </div>

                        <span class="content-block__title">Administración</span>

                        <span class="content-block__text">
                            Cada uno de nosotros está familiarizado con un fenómeno como la administración hostil e injusta en los servidores de GTA 5 RP y no solo, 
                            que mata todo el deseo de jugar y desarrollarse. Nuestros administradores se comunican con los jugadores a diario, durante el proceso del 
                            juego resuelven de forma cualitativa situaciones de conflicto y mantienen el orden, ¡además de crear una atmósfera positiva en el proyecto!
                        </span>
                    </div>

                    <div class="watch-trailer-mobile justify-center full-width">
                        <div class="button-container row-block align-center">
                            <img class="button-container__picture" src="/img/Home/info/mode/play.svg" alt="">
                            <span class="button-container__title">ver el trailer</span>
                        </div>
                    </div>
                </swiper-slide>

                <swiper-slide class="voice info-slide">
                    <kinesis-container class="movable-container full-width full-height">
                        <div class="voice__picture-person">
                            <kinesis-element
                            :strength="isMovable(-20)"
                            axis="x"
                            tag="img"
                            src="/img/Home/info/voice/person.png"
                            alt="" />
                        </div>

                        <div class="microphone">
                            <kinesis-element
                            :strength="isMovable(20)"
                            class="voice__picture-microphone big">
                                <img
                                src="/img/Home/microphone.png"
                                alt="" />
                            </kinesis-element>

                            <kinesis-element
                            :strength="isMovable(-30)"
                            class="voice__picture-microphone small">
                                <img
                                src="/img/Home/microphone.png"
                                alt="" />
                            </kinesis-element>
                        </div>
                    </kinesis-container>

                    <div class="gradient"></div>

                    <div class="content-block column-block">
                        <div class="row-block">
                            <img class="content-block__picture" src="/img/Home/info/voice/synthesizer.svg" alt="">

                            <div class="play-button row-block align-center">
                                <img class="play-button__picture" src="/img/Home/info/mode/play.svg" alt="">
                                <span class="play-button__title">ver el trailer</span>
                            </div>
                        </div>

                        <span class="content-block__title">Chat de voz</span>

                        <span class="content-block__text">
                            Debido al hecho de que la plataforma RAGE MP abre nuevas perspectivas y oportunidades, se implementó un
                            chat de voz completo en nuestro proyecto. Con la ayuda de él, toda la interacción principal de las personas
                            tiene lugar dentro del marco del juego. ¡Ahora todos tienen la oportunidad de sumergirse por completo en la
                            atmósfera real del juego de roles de GTA 5, obteniendo el máximo placer del juego!
                        </span>
                    </div>

                    <div class="watch-trailer-mobile justify-center full-width">
                        <div class="button-container align-center row-block">
                            <img class="button-container__picture" src="/img/Home/info/mode/play.svg" alt="">
                            <span class="button-container__title">ver el trailer</span>
                        </div>
                    </div>
                </swiper-slide>
            </swiper>
        </swiper-slide>

        <swiper-slide class="how-play-page swiper-page">
            <div
            @touchstart="touchStart"
            @touchend="touchEnd"
            @mousewheel.capture="showFooter"
            class="page-content justify-center full-height full-width">

                <kinesis-container class="full-height full-width">
                    <div class="gta-picture big">
                        <kinesis-element
                        :strength="-15"
                        tag="img"
                        src="/img/Home/gta.png"
                        alt="" />
                    </div>

                    <div class="gta-picture small">
                        <kinesis-element
                        :strength="20"
                        tag="img"
                        src="/img/Home/gta.png"
                        alt="" />
                    </div>
                </kinesis-container>

                <div class="play-info column-block">
                    <div class="row-block align-center">
                        <span class="play-info__title">¿cómo jugar?</span>

                        <div class="play-video row-block align-center">
                            <img class="play-video__picture" src="/img/Home/video.svg" alt="">
                            <span class="play-video__text">mira las instrucciones en video</span>
                        </div>
                    </div>
                    <span class="play-info__description">
                        GTA V RP es el siguiente nivel de juegos en línea. Lo hicimos. Sea un gángster o un policía, un funcionario o un médico, 
                        una mafia o un empleado del FBI, un motociclista o el dueño de su propia organización. ¡Siente la atmósfera del asombroso 
                        mundo de los juegos de rol con el mundo realista de GTA 5!
                    </span>
                </div>

                <div class="scroll column-block align-center">
                    <span class="scroll__title">nuestras redes sociales</span>
                    <img class="scroll__picture" src="/img/Home/scroll.svg" alt="">
                </div>

                <div class="cards row-block">
                    <div v-for="(card, i) of cards" class="card-cover align-center column-block">
                        <div class="card align-center column-block">
                            <span class="card__title">{{ card.title }}</span>
                            <span class="card__text">{{ card.description }}</span>
    
                            <div class="button-cover row-block full-width">
                                <div class="button-cover__button">{{ card.button }}</div>
                            </div>
                        </div>

                        <span class="step">PASO {{ i + 1 }}</span>
                    </div>
                </div>

                <swiper
                :spaceBetween="-148"
                direction="horizontal"
                :setWrapperSize="true"
                class="cards-mobile">
                    <swiper-slide v-for="(card, i) of cards" class="card-cover">
                        <div class="card-container column-block">
                            <div class="card align-center column-block">
                                <span class="card__title">{{ card.title }}</span>
                                <span class="card__text">{{ card.description }}</span>
        
                                <div class="button-cover row-block full-width">
                                    <div class="button-cover__button">{{ card.button }}</div>
                                </div>
                            </div>
    
                            <span class="step">PASO {{ i + 1 }}</span>
                        </div>
                    </swiper-slide>
                </swiper>

                <div class="watch-video full-width justify-center">
                   <div class="button-container row-block">
                        <img class="button-container__picture" src="/img/Home/video.svg" alt="">
                        <span class="button-container__title">mira las instrucciones en video</span>
                   </div>
                </div>
        
                <transition name="local-slide" appear>
                    <footer-block v-if="footer" />
                </transition>
            </div>
        </swiper-slide>

        <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
</div>