@import "@/assets/_mixins";
@import "@/assets/_templates";

.Home-page {
    width: 100vw;
    height: 100vh;
    text-transform: uppercase;

    .swiper {
        width: inherit;
        height: inherit;
        overflow: hidden;

        &-page {
            width: 100vw;
            height: 100vh;
            position: relative;
            background: {
                position: bottom;
                repeat: no-repeat;
                size: 100vw 100vh;;
            };

            @for $i from 1 through 3 {
                &:nth-child(#{ $i }) {
                    background-image: url('/img/Home/backgrounds/' + $i + '.png');
                }
            }

            .info-slide {
                width: 100vw !important;
                height: 100vh;
                position: relative;
                background: {
                    repeat: no-repeat;
                    size: 100vw 100vh;
                    position: center;
                };

                @for $i from 1 through 3 {
                    &:nth-child(#{ $i }) {
                        background-image: url('/img/Home/backgrounds/2/' + $i + '.png');
                    }
                }
            }
        }
        
        &-pagination {
            right: vh(50px);

            &:deep(.swiper-pagination-bullet) {
                margin: 0;
                width: vh(17px);
                height: vh(17px);
                margin-bottom: vh(42.5px);
                background-color: white;
                transition: opacity ease .2s;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .navbar-mobile-icon,
    .gta-mobile-picture {
        display: none;
    }

    .watch-trailer-mobile {
        display: none;
        position: absolute;
        bottom: vwm(27px);

        .button-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: vwm(377px);
            height: vwm(40px);
            background: linear-gradient(276.68deg, rgba(50, 222, 245, 0.86) 0%, rgba(43, 163, 180, 0.45) 100%);
            box-shadow: 0 0 vwm(34.727px) rgba(50, 222, 245, 0.27);
            border-radius: vwm(5.13713px);

            &__picture {
                width: vwm(16px);
                height: vwm(16px);
            }

            &__title {
                @include font(Akrobat, 500, normal, vwm(18px));
                margin-left: vwm(7px);
                text-shadow: 0 0 vh(15px) rgba(white, 0.38);
                color: white;
                letter-spacing: 0.1em;
                cursor: pointer;
            }
        }
    }

    .main-page {
        position: relative;
        overflow: hidden;

        header {
            position: absolute;
            top: vh(31px);
            left: vh(120px);
            z-index: 2;
        }
    
        .navbar {
            position: absolute;
            top: vh(38px);
            left: 0;
            z-index: 2;
    
            nav {
                .nav-item {
                    @include font(Akrobat, 500, normal, vh(14.35px));
                    @extend %content-center;
                    height: vh(30px);
                    border-bottom: vh(0.358696px) solid rgba(255, 255, 255, 0.5);
                    cursor: pointer;
                    letter-spacing: 0.175em;
                    min-width: vh(122px);
                    padding: 0 vh(12px);
                    color: white;
        
                    &.active {
                        background-image: linear-gradient(360deg, rgba(56, 110, 250, 0.99) -100%, rgba(58, 58, 58, 0) 100%);
                    }
                }
            }
        }

        .additional-nav {
            position: absolute;
            top: vh(38px);
            right: vh(120px);
            z-index: 3;

            .forum {
                @include font(Akrobat, 500, normal, vh(14.33px));
                @extend %content-center;
                width: vh(125.88px);
                height: vh(30px);
                border: vh(1px) solid rgba(255, 255, 255, 0.51);
                border-radius: vh(3.84615px);
                color: white;
                cursor: pointer;
                letter-spacing: 0.1em;
            }
    
            .donate {
                @extend %content-center;
                width: vh(125.88px);
                height: vh(30px);
                background: linear-gradient(276.68deg, rgba(50, 222, 245, 0.86) 0%, rgba(43, 163, 180, 0.45) 100%);
                box-shadow: 0 0 vh(26px) rgba(50, 222, 245, 0.27);
                border-radius: vh(3.84615px);
                margin-left: vh(42.12px);
                cursor: pointer;
    
                span {
                    @include font(Akrobat, 500, normal, vh(14.3px));
                    color: white;
                    letter-spacing: 0.1em;
                }
    
                img {
                    width: vh(24.44px);
                    height: vh(10px);
                    transform: translateY(vh(1px));
                    margin-left: vh(4px);
                }
            }
        }

        .movable-container {
            @extend %content-center;

            .logotype {
                position: absolute;
                top: vh(31px);
                left: vh(120px);
                
                &__picture {
                    width: vh(81px);
                    height: vh(47px);
                }
            }

            .persons {
                width: vh(588.19px);
                height: vh(638px);

                .person-container {
                    position: absolute;
                    bottom: 0;
        
                    &:first-child {
                        width: vh(380.26px);
                        height: vh(508.92px);
        
                        .person {
                            width: inherit;
                            height: inherit;
                            transform: translateX(vh(-200px));
                        }
                    }
        
                    &:nth-child(2) {
                        width: vh(588.19px);
                        height: vh(638px);
        
                        .person {
                            width: inherit;
                            height: inherit;
                        }
                    }
        
                    &:nth-child(3) {
                        width: vh(526.51px);
                        height: vh(527.99px);
        
                        .person {
                            width: inherit;
                            height: inherit;
                            transform: translateX(vh(300px));
                        }
                    }
                }
            }

            .hints {
                @extend %absolute;

                .hint-container {
                    $backgrounds:
                    linear-gradient(93.81deg, rgba(113, 38, 236, 0.85) 1.78%, rgba(85, 85, 85, 0.5) 100%),
                    linear-gradient(93.81deg, rgba(21, 152, 21, 0.9) 1.78%, rgba(85, 85, 85, 0.5) 100%),
                    linear-gradient(93.81deg, rgba(85, 85, 85, 0.5) 1.78%, rgba(152, 21, 147, 0.9) 100%);

                    @for $i from 1 through length($backgrounds) {
                        &:nth-child(#{ $i }) .hint {
                            background-image: #{ nth($backgrounds, $i) };
                        }
                    }

                    &:first-child {
                        position: absolute;
                        top: vh(668.55px);
                        left: vh(352.71px);
                    }

                    &:nth-child(2) {
                        position: absolute;
                        top: vh(783px);
                        left: vh(738.06px);
                    }

                    &:last-child {
                        position: absolute;
                        top: vh(634.22px);
                        right: vh(313px);
                    }
                }


                .hint {
                    width: vh(230.82px);
                    height: vh(68.68px);
                    padding: vh(11px) vh(7.6px) vh(10.17px) vh(10.17px);
                    border-radius: vh(3.1794px);

                    &__picture {
                        width: vh(14px);
                        height: vh(13.35px);
                    }

                    &__text {
                        @include font(Akrobat, 500, normal, vh(12.72px));
                        color: white;
                        
                        margin-top: vh(3.5px);
                    }
                }
            }
        }

        .gradient {
            $background: linear-gradient(92.82deg, rgba(38, 38, 236, 0.663) 6.27%, rgba(113, 38, 236, 0.5226) 6.27%, rgba(129, 32, 125, 0.3588) 54.35%, rgba(21, 152, 21, 0.702) 93.37%);
            position: absolute;
            width: vh(880.69px);
            height: vh(296.96px);
            background: $background;
            filter: blur(vh(100.97px));
            bottom: vh(-148px);
            border-radius: 50%;

            &-mobile {
                display: none;
                background: $background;
            }
        }

        .server-title {
            position: absolute;
            top: vh(153px);

            &__title {
                @include font(Akrobat, 900, normal, vh(75.65px));
                color: white;
                letter-spacing: 0.1em;
            }

            &__text {
                @include font(Akrobat, 500, normal, vh(37.8261px));
                color: white;
                letter-spacing: 0.1em;
                text-shadow: 0 0 vh(21.0145px) rgba(255, 255, 255, 0.72);
            }
        }

        .scroll {
            position: absolute;
            bottom: vh(51.87px);
            pointer-events: none;
            z-index: 3;

            &__title {
                @include font(Akrobat, 500, normal, vh(14.35px));
                color: white;
                letter-spacing: 0.175em;
            }

            &__picture {
                width: vh(20.25px);
                height: vh(8.17px);
                margin-top: vh(11.62px);
                animation: bounce ease 2s infinite alternate;

                @keyframes bounce {
                    from {
                        transform: translateY(vh(-5px));
                    }

                    to {
                        transform: translateY(vh(5px));
                    }
                }
            }
        }
    }

    .server-page {
        position: relative;

        .page-header {
            position: absolute;
            top: vh(33px);
            z-index: 2;
            

            &__title {
                @include font(Akrobat, 900, normal, vh(47.76px));
                color: white;
                letter-spacing: 0.37em;
                text-shadow: 0 0 vh(20.626px) rgba(white, 0.38);
            }

            &__subtitle {
                @include font(Akrobat, 500, normal, vh(47.76px));
                color: white;
                letter-spacing: 0.1em;
            }

            .line {
                width: vh(427px);
                height: vh(3px);
                background-color: rgba(white, 0.08);
                margin-top: vh(6px);
                border-radius: vh(44px);

                &__progress {
                    background-color: white;
                    height: inherit;
                    width: 0%;

                    &.slide-0 {
                        animation: slide-0 linear 7.5s forwards;

                        @keyframes slide-0 {
                            from {
                                width: 0%;
                            }

                            to {
                                width: 33.33%;
                            }
                        }
                    }

                    &.slide-1 {
                        animation: slide-1 linear 7.5s forwards;

                        @keyframes slide-1 {
                            from {
                                width: 33.33%;
                            }

                            to {
                                width: 66.66%;
                            }
                        }
                    }

                    &.slide-2 {
                        animation: slide-2 linear 7.5s forwards;

                        @keyframes slide-2 {
                            from {
                                width: 66.66%;
                            }

                            to {
                                width: 99.99%;
                            }
                        }
                    }
                }
            }
        }

        .content-block {
            position: absolute;
            right: vh(120px);
            
            color: white;

            &__picture {
                width: vh(32.33px);
                height: vh(32.33px);
                filter: drop-shadow(0 0 vh(3.7796px) rgba(white, 0.5));
            }

            .play-button {
                margin-left: vh(31.5px);
                cursor: pointer;
                position: relative;
                z-index: 3;

                &__picture {
                    width: vh(26.58px);
                    height: vh(26.58px);
                    filter: drop-shadow(0 0 vh(3.7796px) rgba(white, 0.5));
                    animation: bounce ease 2s infinite alternate;
                }

                &__title {
                    @include font(Akrobat, 500, normal, vh(18px));
                    margin-left: vh(10.2px);
                    letter-spacing: 0.1em;
                }
            }

            &__title {
                @include font(Akrobat, 900, normal, auto);
                margin-left: vh(-3px);
                text-shadow: 0 0 vh(20.2089px) rgba(255, 255, 255, 0.38);
            }

            &__text {
                @include font(Akrobat, 500, normal, auto);
            }
        }

        .movable-container {
            position: absolute;
        }

        .gradient {
            width: vh(880px);
            height: vh(296px);
            filter: blur(vh(150.97px));
            position: absolute;
            bottom: vh(-118px);
            left: vh(-7px);
            border-radius: 50%;
            z-index: 2;
        }

        // pages

        .mode {
            overflow: hidden;

            &__picture {
                &-plane {
                    width: vh(1146px);
                    height: vh(672px);
                    position: absolute;
                    left: vh(-294px);
                    top: vh(-86px);

                    img {
                        width: inherit;
                        height: inherit;
                    }
                }

                &-person {
                    width: vh(874px);
                    height: vh(866px);
                    position: absolute;
                    left: vh(-20px);
                    bottom: 0;

                    img {
                        width: inherit;
                        height: inherit;
                    }
                }
            }

            .gradient {
                background: linear-gradient(0deg, rgba(21, 152, 21, 0.58), rgba(21, 152, 21, 0.58));
            }

            .content-block {
                width: vh(516px);
                top: vh(277px);

                &__title {
                    font-size: vh(86.22px);
                }

                &__text {
                    font-size: vh(24.25px);
                    margin-top: vh(10px);
                }
            }
        }

        .admins {
            overflow: hidden;

            .gradient {
                background: linear-gradient(0deg, rgba(152, 21, 147, 0.9), rgba(152, 21, 147, 0.9));
            }

            &__picture {
                &-money {
                    width: vh(599px);
                    height: vh(694px);
                    position: absolute;
                    top: 0;
                    left: vh(-145px);

                    img {
                        width: inherit;
                        height: inherit;
                    }
                }

                &-person {
                    width: vh(908px);
                    height: vh(620px);
                    position: absolute;
                    bottom: 0;
                    left: vh(-20px);

                    img {
                        width: inherit;
                        height: inherit;
                    }
                }
            }

            .content-block {
                top: vh(314.21px);
                width: vh(540px);

                &__title {
                    font-size: vh(76.46px);
                }

                &__text {
                    font-size: vh(21.5px);
                    margin-top: vh(9px);
                }
            }
        }

        .voice {
            overflow: hidden;

            &__picture {
                &-person {
                    width: vh(876px);
                    height: vh(761px);
                    position: absolute;
                    left: vh(-10px);
                    bottom: vh(-10px);
                    z-index: 3;

                    img {
                        width: inherit;
                        height: inherit;
                    }
                }

                &-microphone {
                    position: absolute;

                    &.big {
                        width: vh(893.99px);
                        height: vh(670.49px);
                        left: vh(-396px);
                        top: vh(108px);

                        img {
                            transform: rotate(-18.17deg);
                        }
                    }

                    &.small {
                        width: vh(525.5px);
                        height: vh(394.13px);
                        top: vh(307px);
                        left: vh(450px);

                        img {
                            transform: rotate(7.79deg);
                        }
                    }

                    img {
                        width: inherit;
                        height: inherit;
                    }
                }
            }

            .content-block {
                top: vh(349.21px);
                width: vh(452px);

                &__title {
                    font-size: vh(64px);
                }

                &__text {
                    font-size: vh(18px);
                    margin-top: vh(8px);
                }
            }

            .gradient {
                background: linear-gradient(0deg, rgba(38, 38, 236, 0.45), rgba(38, 38, 236, 0.45));
            }
        }
    }

    .how-play-page {
        overflow: hidden;

        .page-content {
            @extend %content-center;
            
            .cards, .cards-mobile {
                position: absolute;
                bottom: vh(100px);

                .card-cover {
                    margin-right: vh(120.6px);

                    &:first-child .card {
                        &__title {
                            padding-right: vh(60px);
                        }

                        &__text {
                            padding-right: vh(109px);
                        }
                    }

                    &:nth-child(2) .card__title {
                        padding-right: vh(40px);
                    }

                    &:last-child {
                        margin-right: 0;

                        .card {
                            &__title {
                                padding-right: vh(95px);
                            }

                            &__text {
                                padding-right: vh(28px);
                            }
                        }
                    }

                    @for $i from 1 through 3 {
                        &:nth-child(#{ $i}) .card {
                            background-image: url('/img/Home/how-play/' + $i + '.png');
                        }
                    }

                    .step {
                        @include font(Akrobat, normal, normal, vh(18px));
                        margin-top: vh(15px);
                        color: white;
                        letter-spacing: 0.425em;
                        text-transform: uppercase;
                    }
                }

                .card {
                    width: vh(246.41px);
                    height: vh(549px);
                    border-radius: vh(10px);

                    padding: vh(19px) 0 0 vh(19px);
                    position: relative;
                    background: {
                        position: center;
                        size: cover;
                        repeat: no-repeat;
                    };

                    .button-cover {
                        @extend %content-center;
                        position: absolute;
                        bottom: vh(19px);
                        right: 0;

                        &__button {
                            @include font(Akrobat, 500, normal, vh(19.14px));
                            @extend %content-center;
                            color: white;
                            width: vh(168.42px);
                            height: vh(40.07px);
                            background: linear-gradient(276.68deg, rgba(50, 222, 245, 0.86) 0%, rgba(43, 163, 180, 0.45) 100%);
                            box-shadow: 0 0 vh(34.727px) rgba(50, 222, 245, 0.27);
                            border-radius: vh(5.13713px);
                            letter-spacing: 0.1em;
                            cursor: pointer;
                        }
                    }

                    &__title {
                        @include font(Akrobat, 700, normal, vh(24px));
                        color: white;
                        letter-spacing: 0.175em;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        text-shadow: 0 0 vh(15px) rgba(white, 0.38);
                    }

                    &__text {
                        @include font(Akrobat, 500, normal, vh(13px));
                        color: white;
                        margin-top: vh(5px);
                    }
                }
            }

            .cards-mobile {
                display: none;
            }

            .scroll {
                bottom: vh(20px);
            }
        }

        .gta-picture {
            &.small {
                width: vh(383.77px);
                height: vh(383.77px);
                position: absolute;
                top: vh(176px);
                left: vh(35px);

                img {
                    width: inherit;
                    height: inherit;
                }
            }

            &.big {
                position: absolute;
                width: vh(1024px);
                height: vh(1024px);
                right: 0;
                top: vh(-50px);

                img {
                    width: inherit;
                    height: inherit;
                }
            }
        }

        .play-info {
            position: absolute;
            top: vh(50px);
            left: vh(120px);

            &__title {
                @include font(Akrobat, bold, normal, vh(76.46px));
                color: white;
                text-shadow: 0 0 vh(20.6px) rgba(white, 0.38);
                letter-spacing: 0.175em;
            }

            .play-video {
                margin-left: vh(26.2px);
                cursor: pointer;

                &__picture {
                    width: vh(26.58px);
                    height: vh(26.58px);
                    filter: drop-shadow(0 0 vh(3.7796px) white);
                    animation: bounce 2s ease infinite alternate;
                }
    
                &__text {
                    @include font(Akrobat, 500, normal, vh(18px));
                    color: white;
                    letter-spacing: 0.1em;
                    text-shadow: 0 0 vh(15px) rgba(white, 0.38);
                    margin-left: vh(10.2px);
                }
            }

            &__description {
                @include font(Akrobat, 500, normal, vh(18px));
                width: vh(535px);
                margin-top: vh(9px);
                color: white;
            }
        }

        .watch-video {
            display: none;
            position: absolute;
            bottom: vwm(27px);
            height: vwm(40px);

            .button-container {
                @extend %content-center;
                width: vwm(377px);
                background: linear-gradient(276.68deg, rgba(50, 222, 245, 0.86) 0%, rgba(43, 163, 180, 0.45) 100%);
                box-shadow: 0 0 vwm(34.727px) rgba(50, 222, 245, 0.27);
                border-radius: vwm(5.13713px);
                cursor: pointer;

                &__picture {
                    width: vwm(14.6px);
                    height: vwm(14.6px);
                }

                &__title {
                    @include font(Akrobat, 500, normal, vwm(18px));
                    color: white;
                    margin-left: vwm(6.6px);
                }
            }
        }
    }

    .scroll {
        position: absolute;
        bottom: vh(51.87px);
        pointer-events: none;
        z-index: 3;

        &__title {
            @include font(Akrobat, 500, normal, vh(14.35px));
            color: white;
            letter-spacing: 0.175em;
        }

        &__picture {
            width: vh(20.25px);
            height: vh(8.17px);
            margin-top: vh(11.62px);
            animation: bounce ease 2s infinite alternate;

            @keyframes bounce {
                from {
                    transform: translateY(vh(-5px));
                }

                to {
                    transform: translateY(vh(5px));
                }
            }
        }
    }
}

@import "@/assets/media/_Home";

@keyframes bounce {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}