<div id="app">
        <router-view class="router" v-slot="{ Component }">
            <transition name="local-fade" appear>
                <component :is="Component" />
            </transition>
        </router-view>

    <div class="background"></div>
</div>