@import "@/assets/_mixins";

@include none-selectable-elements();
@include local-fade(.2s, local-fade);

#app {
    width: 100vw;
    height: 100vh;
    position: relative;
}

*::selection {
    color: white;
}

img::selection {
    background: transparent;
}

.router {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: {
        image: url('/img/global/background.png');
        size: cover;
        position: center;
        repeat: no-repeat;
    }
}