@mixin font($name: auto, $weight: auto, $style: auto, $size: auto) {
    font: {
        family: $name, sans-serif;
        weight: $weight;
        style: $style;
        size: $size;
    }
}

@mixin scrollbar($width, $scrollbar-color, $background-color) {
    &::-webkit-scrollbar {
        width: $width;
        background-color: $scrollbar-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $background-color;
    }
}

@mixin none-selectable-elements() {
    img {
        pointer-events: none;
    }
    input {
        outline: none;
    }
}

@mixin no-input-arrows() {
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        appearance: none !important;
        margin: 0 !important;
    }
}

@mixin capture-height($height) {
    height: $height;
    max-height: $height;
    min-height: $height;
}

@mixin capture-width($width) {
    width: $width;
    max-width: $width;
    min-width: $width;
}

@mixin local-fade($duration, $class-name) {
    .#{$class-name} {
        &-enter-from, &-leave-to {
            opacity: 0;
        }

        &-enter-active, &-leave-active {
            transition: opacity $duration;
        }
    }
}

@function vw($size) {
    @return $size / (1440 * 0.01 * 1px) * 1vw;
}


// for mobile

@function vwm($size) {
    @return $size / (414 * 0.01 * 1px) * 1vw;
}

@function vh($size) {
    @return $size / (960 * 0.01 * 1px) * 1vh;
}