%content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%absolute {
    position: absolute;
    left: 0;
    top: 0;
}

%transparent-selection {
    ::selection {
        background: transparent;
    }
}

.row-block {
    display: flex;
    flex-direction: row;
}

.column-block {
    display: flex;
    flex-direction: column;
}

.justify-start {
    display: flex;
    justify-content: flex-start;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}


.flex-block {
    display: flex;
}

.align-start {
    display: flex;
    align-content: flex-start;
}

.align-center {
    display: flex;
    align-items: center;
}

.align-end {
    display: flex;
    align-items: flex-end;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.picture-handler {
    display: flex;
    cursor: pointer;
}

.debug {
    border: 1px solid red;
}

.animation-handler {
    transition: transform ease 120ms;
}

.local-slide {
    &-enter-active {
        animation: slide .5s;
    }

    &-leave-active {
        animation: slide .5s reverse;
    }

    @keyframes slide {
        from {
            transform: translateY(vh(543px));
        }

        to {
            transform: 0
        }
    }
}