/* Akrobat */

/*REGULAR*/
@font-face {
    font-family: Akrobat;
    src: url("./fonts/Akrobat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/*SEMIBOLD*/
@font-face {
    font-family: Akrobat;
    src: url("./fonts/Akrobat-SemiBold.ttf");
    font-weight: 500;
    font-style: normal;
}

/*BOLD*/
@font-face {
    font-family: Akrobat;
    src: url("./fonts/Akrobat-Bold.ttf");
    font-weight: 900;
    font-style: normal;
}

/*BLACK*/
@font-face {
    font-family: Akrobat;
    src: url("./fonts/Akrobat-Black.ttf");
    font-weight: bold;
    font-style: normal;
}

/*EXTRA BOLD*/
@font-face {
    font-family: Akrobat;
    src: url("./fonts/Akrobat-ExtraBold.ttf");
    font-weight: 700;
    font-style: normal;
}