@import "./fonts";

body {
	-webkit-text-size-adjust: none;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
	-webkit-tap-highlight-color: transparent;
}

@media screen and (max-device-width: 415px) {
    *, *:after, *:before {
        user-select: none;
    }
    
    input, textarea {
     user-select: auto !important;  
    }
}