<div
ref="donate"
@touchstart="touchStart"
@touchend="touchEnd"
@mousewheel="showFooter"
@click="showTip = false"
class="donate full-width full-height">

    <navbar
    v-model:nav-mobile="navMobile"
    @openPage="openPage" />

    <kinesis-container class="movable-container full-width full-height">
        <kinesis-element
        :strength="20"
        axis="x"
        tag="img"
        src="/img/Donate/person.png"
        alt=""
        class="donate__picture-person" />

        <div class="logotype">
            <kinesis-element :strength="isMovable(-10)">
                <img src="/img/global/logo.svg" alt="" class="logotype__picture">
            </kinesis-element>
        </div>

        <kinesis-element
        class="vc-picture"
        :class="`id-${ i + 1 }`"
        :strength="item"
        v-for="(item, i) of [8, -10, 15, 5, -15]">
            <img class="vc-picture__picture" src="/img/Donate/vc.png" alt="" />
        </kinesis-element>
    </kinesis-container>

    <div class="form-container full-width full-height">
        <Form @submit="submitForm" class="form column-block align-center">
            <img src="/img/global/vc.svg" alt="" class="form__picture">
            <span class="form__title">COMPRAR MONEDA</span>

            <div class="hint">
                <div class="hint-container full-width full-height">
                    <div class="hint-picture">
                        <img src="/img/Donate/hint.svg" alt="">
                    </div>
    
                    <div class="hint-block">
                        <img class="hint-block__picture" src="/img/Donate/hint-container.svg" alt="">
                        <div class="textes full-width full-height column-block">
                            <span class="textes__text-main">
                                Por VESPUCCI Coins puedes comprar: vehículos únicos, bienes raíces, negocios, moneda de juego y mucho más.
                                Después del pago, VC se acreditará a su cuenta en el servidor del juego automáticamente.
                                Después del pago, VC se acreditará automáticamente en su cuenta de juego en el servidor. 
                                Puedes ver el saldo en el menú de selección de personajes
                                o mediante la configuración de personajes seleccionando el elemento "donar gabinete"
                            </span>
    
                            <span class="textes__text-additional">
                                ¿Tiene problemas con un depósito? Escriba a help@VESPUCCI-rp.EU oa la discordia de nuestro servidor.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="input-block column-block">
                <label class="input-block__label" for="nickname">Iniciar sesión</label>
    
                <div class="input-container align-center">
                    <Field
                    name="nickname"
                    type="text"
                    maxlength="25"
                    class="input-container__input"
                    v-model="nickname" />
    
                    <img class="input-container__picture" src="/img/Donate/nickname.svg" alt="">
                </div>
            </div>
    
            <div class="input-block column-block">
                <label class="input-block__label" for="nickname">Email</label>
    
                <div class="input-container align-center">
                    <Field
                    name="email"
                    type="email"
                    maxlength="30"
                    class="input-container__input"
                    v-model="email" />
    
                    <img class="input-container__picture" src="/img/Donate/email.svg" alt="">
                </div>
            </div>
    
            <div class="input-block column-block">
                <label class="sum-title row-block justify-between" for="nickname">
                    <span class="sum-title__label">suma</span>
    
                    <div class="coins row-block align-center">
                        <span class="coins__text">Recibirás {{ willGet }}</span>
                        <img class="coins__picture" src="/img/global/vc.svg" alt="">
                    </div>
                </label>
    
                <div class="input-container align-center">
                    <Field
                    name="sum"
                    type="text"
                    maxlength="4"
                    class="input-container__input"
                    v-model.number="sum"
                    @keypress="preventForNumber"
                    @paste.prevent
                    @cut.prevent
                    @copy.prevent />
    
                    <img class="input-container__picture" src="/img/Donate/euro.svg" alt="">
                </div>
            </div>
    
            <button class="commit full-width">Pasar por la caja</button>
            
            <div class="additional-info column-block justify-center">
                <span class="additional-info__title">Tipo de cambio</span>
                <span class="additional-info__value">1 EUR. = 1 VC = 50 $.</span>
            </div>
        </Form>
    </div>

    <div @click="switchHint" data-mobile class="info-button-mob">
        <img src="/img/Donate/hint.svg" alt="">
    </div>

    <transition name="local-fade" appear>
        <div
        v-if="mobileHint"
        data-mobile
        class="hint-mobile full-width align-center column-block">
            <div class="hint-cover">
                <div class="hint-cover__text-main">
                    Por VESPUCCI Coins puedes comprar: vehículos únicos, bienes raíces, negocios, moneda de juego y mucho más.
                    Después del pago, VC se acreditará a su cuenta en el servidor del juego automáticamente.
                    Después del pago, VC se acreditará automáticamente en su cuenta de juego en el servidor.
                    Puedes ver el saldo en el menú de selección de personajes o mediante la configuración de personajes seleccionando el elemento "donar gabinete"
                </div>
                
                <div class="hint-cover__text-additional">
                    ¿Tiene problemas con un depósito? Escriba a help@VESPUCCI-rp.EU oa la discordia de nuestro servidor.
                </div>
            </div>
        </div>
    </transition>

    <transition name="local-slide" appear>
        <footer-block v-if="footer" />
    </transition>
</div>