@import "@/assets/_mixins";
@import "@/assets/_templates";

.donate {
    @extend %absolute;
    overflow: hidden;
    text-transform: uppercase;
    background: {
        image: url('/img/Donate/background.png');
        position: center;
        repeat: no-repeat;
        size: cover;
    };

    *[data-mobile] {
        display: none;
    }

    &__picture-person {
        width: vh(667px);
        height: vh(814px);
        position: absolute;
        bottom: 0;
        z-index: 2;
    }

    .movable-container {
        @extend %absolute;
        width: 100%;
        height: 100%;
    }

    .logotype {
        position: absolute;
        top: vh(31px);
        left: vh(120px);
        
        &__picture {
            width: vh(81px);
            height: vh(47px);
        }
    }

    .vc-picture {
        position: absolute;

        &__picture {
            transform-origin: center;
        }

        $sizes:
        vh(399.23px) vh(163.28px) 240deg,
        vh(399.23px) vh(163.28px) -20.84deg,
        vh(262.21px) vh(107.24px) -20.84deg,
        vh(399.23px) vh(163.28px) -110deg,
        vh(262.21px) vh(107.24px) -20.84deg;

        @for $i from 1 through length($sizes) {
            &.id-#{ $i } .vc-picture__picture {
                width: nth(nth($sizes, $i), 1);
                height: nth(nth($sizes, $i), 2);
                transform: rotate(nth(nth($sizes, $i), 3));
            }
        }

        &.id-1 {
            top: vh(200px);
            left: vh(71px);
        }

        &.id-2 {
            bottom: vh(114.6px);
            left: vh(-97px);
        }

        &.id-3 {
            bottom: vh(50px);
            right: vh(468px);
        }

        &.id-4 {
            top: vh(341px);
            right: vh(-150px);
        }

        &.id-5 {
            bottom: vh(-39px);
            left: vh(219px);
            z-index: 4;
        }
    }

    .form-container {
        @extend %absolute;
        @extend %content-center;
        pointer-events: none;
    }

    .form {
        pointer-events: all;
        position: relative;

        .hint {
            position: absolute;
            top: vh(35px);
            right: vh(38px);
            z-index: 5;

            .hint-container {
                width: vh(15px);
                height: vh(15px);
                position: relative;

                .hint-picture {
                    width: inherit;
                    height: inherit;
                    cursor: pointer;
                    position: absolute;

                    &:hover + .hint-block {
                        opacity: 1;
                    }
    
                    img {
                        width: inherit;
                        height: inherit;
                    }
                }

                .hint-block {
                    width: vh(347px);
                    height: vh(189px);
                    position: absolute;
                    top: vh(22px);
                    left: vh(-5px);
                    opacity: 0;
                    transition: opacity ease .2s;

                    &__picture {
                        position: absolute;
                        width: inherit;
                        height: inherit;
                        backdrop-filter: blur(vh(3px));
                    }

                    .textes {
                        position: absolute;
                        z-index: 2;
                        padding: vh(12px) vh(9px) vh(7px) vh(10px);

                        &__text {
                            &-main {
                                @include font(Akrobat, normal, normal, vh(13px));
                                color: white;
                                text-transform: none;
                            }

                            &-additional {
                               @include font(Akrobat, 500, normal, vh(13px));
                               color: rgba(white, 0.41);
                               margin-top: vh(10px); 
                            }
                        }
                    }
                }
            }
        }

        &__picture {
            width: vh(41.56px);
            height: vh(17px);
            filter: drop-shadow(0 0 vh(3.7796px) rgba(white, 0.5));
        }

        &__title {
            @include font(Akrobat, 900, normal, vh(48px));
            color: white;
            margin-top: vh(8px);
            text-align: center;
            width: vh(235px);
            text-shadow: 0 0 vh(20.626px) rgba(white, 0.38);
        }

        .input-block {
            margin-top: vh(16px);

            &__label, .sum-title__label {
                @include font(Akrobat, 500, normal, vh(18.3px));
                color: white;
                text-transform: uppercase;
                letter-spacing: 0.1em;
            }

            .input-container {
                margin-top: vh(6px);
                position: relative;

                &__input {
                    @include font(Akrobat, 500, normal, vh(18px));
                    width: vh(294px);
                    min-height: vh(44px);
                    background-color: rgba(61, 61, 61, 0.2);
                    border: vh(0.766082px) solid white;
                    border-radius: vh(3.83041px);
                    padding: vh(11px) vh(35px) vh(11px) vh(12px);
                    color: white;
    
                    &::selection {
                        background-color: tomato;
                        color: white;
                    }
                }

                &__picture {
                    position: absolute;
                    right: vh(12px);
                }
            }



            .coins {
                &__text {
                    @include font(Akrobat, 500, normal, vh(18.39px));
                    color: white;
                    letter-spacing: 0.1em;
                }

                &__picture {
                    width: vh(27px);
                    height: vh(11px);
                    margin-left: vh(6px);
                }
            }
        }

        .commit {
            @include font(Akrobat, 500, normal, vh(14.33px));
            @extend %content-center;
            width: vh(293px);
            min-height: vh(36px);
            margin-top: vh(27.43px);
            color: white;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            background-color: transparent;
            background-image: linear-gradient(276.68deg, rgba(50, 222, 245, 0.86) 0%, rgba(43, 163, 180, 0.45) 100%);
            box-shadow: 0 0 vh(26px) rgba(50, 222, 245, 0.27);
            border-radius: vh(3.84615px);
            outline: none;
            border: none;
            cursor: pointer;
        }

        .additional-info {
            &__title {
                @include font(Akrobat, 900, normal, vh(18px));
                color: white;
                margin-top: vh(25px);
            }

            &__value {
                @include font(Akrobat, 500, normal, vh(14px));
                color: white;
                margin-top: vh(5px);
            }
        }
    }
}

@import "@/assets/media/_Donate";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    appearance: none !important;
    margin: 0 !important;
}
