@import "@/assets/_mixins";
@import "@/assets/_templates";

footer {
    height: vh(567px);
    position: absolute;
    bottom: 0;
    z-index: 10;
    background: {
        image: url('/img/Home/backgrounds/2/3.png');
        size: cover;
        position: center;
        repeat: no-repeat;
    };

    mask: {
        image: url('/img/Home/footer.png');
        size: 100vw vh(567px);
        position: center;
        repeat: no-repeat;
    }

    .social-block {
        width: vh(246px);
        height: vh(307px);
        border-radius: vh(10px);
        backdrop-filter: blur(vh(7px));
        margin-right: vh(72px);
        transform: translateY(vh(-44px));
        transition: transform ease .2s;
        cursor: pointer;
        padding-bottom: vh(21px);

        &:hover {
            transform: translateY(0);
        }

        &:last-child {
            margin-right: 0;
        }

        $backgrounds:
        linear-gradient(343.85deg, rgba(0, 0, 0, 0.2) 5.36%,  rgba(252, 0, 0, 0.8) 102.06%),
        linear-gradient(343.85deg,  rgba(0, 0, 0, 0.2) 5.36%, rgba(226, 23, 171, 0.8) 102.06%),
        linear-gradient(343.85deg, rgba(0, 0, 0, 0.2) 5.36%, rgba(105, 197, 253, 0.8) 102.06%),
        linear-gradient(343.85deg, rgba(0, 0, 0, 0.2) 5.36%, #7289DA 102.06%);

        @for $i from 1 through 4 {
            &:nth-child(#{ $i }) {
                background-image: nth($backgrounds, $i);
            }
        }

        &__picture {
            height: vh(42.61px);
        }

        &__text {
            @include font(Akrobat, 900, normal, vh(18px));
            text-shadow: 0 0 vh(15px) rgba(white, 0.38);
            letter-spacing: 0.1em;
            color: white;
            margin-top: vh(10.4px);
        }

        .users {
            margin-bottom: vh(33px);

            &__picture {
                width: vh(31px);
                height: vh(31px);
            }

            &__title {
                @include font(Akrobat, 900, normal, vh(23.25px));
                color: white;
                margin-left: vh(15.5px);
            }
        }
    }

    .footer-data {
        position: absolute;
        bottom: vh(33px);
        padding: 0 vh(120px);
        text-transform: none;

        &__picture {
            &-logo {
                width: vh(80.94px);
                height: vh(47px);
            }
        }

        .links {
            max-height: vh(22px);

            .link {
                color: white;
                text-decoration: underline;
                cursor: pointer;
                margin-right: vh(39px);

                span {
                    @include font(Akrobat, normal, normal, vh(18px));
                }

                &:last-child {
                    margin-right: 0;
                }

                &__picture {
                    width: vh(16px);
                    height: vh(16px);
                    margin-right: vh(5px);
                }
            }
        }

        .wallets {
            &__picture {
                height: vh(17.5px);
                margin-right: vh(12px);

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .agreement {
            @include font(Akrobat, 700, normal, vh(18px));
            color: rgba(white, 0.13);
            width: vh(335px);
            text-align: center;
            text-transform: uppercase;
            transform: translateX(vh(-55px));
            margin-top: vh(50px);
        }
    }

    .main-content-mob, .social-mobile {
        display: none;
    }

    .social-mobile {
        .soc-mob {
            height: vwm(40px);
            margin-top: vwm(20px);

            &:first-child {
                margin-top: vwm(124px);
            }

            $backgrounds: 
            rgba(252, 0, 0, 0.4), 
            rgba(226, 23, 171, 0.4),
            rgba(105, 197, 253, 0.4),
            rgba(114, 137, 218, 0.4);

            @for $i from 1 through length($backgrounds) {
                &:nth-child(#{ $i }) .soc-container {
                    background: nth($backgrounds, $i);
                }
            }

            .soc-container {
                @extend %content-center;
                width: vwm(377px);
                border-radius: vwm(5.13713px);
                height: inherit;

                &__picture {
                    width: vwm(20px);
                }

                &__text {
                    @include font(Akrobat, 500, normal, vwm(14px));
                    color: white;
                    margin-left: vwm(11px);
                    letter-spacing: 0.1em;
                }
            }
        }
    }
}

@import "@/assets/media/_footer";