<footer class="full-width">
    <div class="social justify-center full-width row-block">
        <a v-for="social of socials" class="social-block justify-end align-center column-block">
            <div class="users align-center row-block">
                <img src="/img/Home/users.svg" alt="" class="users__picture">
                <span class="users__title">5.000 +</span>
            </div>

            <img class="social-block__picture" :src="`/img/Home/social/${ social.path }.svg`" alt="">
            <span class="social-block__text">{{ social.text }}</span>
        </a>
    </div>

    <div class="social-mobile justify-center full-width column-block">
        <a
        v-for="social of socials"
        class="soc-mob row-block full-width justify-center">
            <div class="soc-container">
                <img class="soc-container__picture" :src="`/img/Home/social/${ social.path }.svg`" alt="">
                <span class="soc-container__text">{{ social.text }}</span>
            </div>
        </a>
    </div>

    <div class="footer-data full-width column-block align-center">
        <div class="main-content row-block full-width justify-between align-center">
            <img class="footer-data__picture-logo" src="/img/global/logo.svg" alt="">

            <div class="links row-block">
                <a class="link row-block">
                    <span class="link__text">Términos de Uso</span>
                </a>

                <a class="link row-block">
                    <span class="link__text">Declaracion de privacidad</span>
                </a>

                <a class="link row-block align-center">
                    <img class="link__picture" src="/img/Home/wiki.svg" alt="">
                    <span class="link__text">Wiki</span>
                </a>
            </div>

            <div class="wallets row-block">
                <img src="/img/Home/wallets/paypal.svg" class="wallets__picture" alt="">
                <img src="/img/Home/wallets/mastercard.svg" class="wallets__picture" alt="">
                <img src="/img/Home/wallets/visa.svg" class="wallets__picture" alt="">
            </div>
        </div>

        <div class="main-content-mob column-block full-width justify-between align-center">
            <div class="wallets row-block">
                <img src="/img/Home/wallets/paypal.svg" class="wallets__picture" alt="">
                <img src="/img/Home/wallets/mastercard.svg" class="wallets__picture" alt="">
                <img src="/img/Home/wallets/visa.svg" class="wallets__picture" alt="">
            </div>

            <img class="footer-data__picture-logo" src="/img/global/logo.svg" alt="">

            <div class="links align-center column-block">
                <a class="link row-block">
                    <span class="link__text">Términos de Uso</span>
                </a>

                <a class="link row-block">
                    <span class="link__text">Declaracion de privacidad</span>
                </a>

                <a class="link row-block align-center">
                    <img class="link__picture" src="/img/Home/wiki.svg" alt="">
                    <span class="link__text">Wiki</span>
                </a>
            </div>
        </div>
        
        <div class="agreement">© TODOS LOS DERECHOS RESERVADOS CUALQUIER COPIA DEL MATERIAL ESTÁ PROHIBIDA</div>
    </div>
</footer>